body{

    background: linear-gradient(to bottom, aquamarine, rgb(98, 216, 87));
    /*background-image: url("../HTML/images/Can\ Cats\ Be\ Really\ Grumpy\ or\ Are\ They\ Just\ Playing_.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}
/*shadow*/
h1{
    text-shadow: -5px -10px 5px rgb(169, 212, 13),5px 5px 5px rgb(213, 11, 180);

}
#a{
    box-shadow: 5px 10px 5px rgb(169, 212, 13);
}
.button{
    box-shadow: 5px 10px 5px gray, -5px -10px 5px gray;
    width: 100px;
    padding-top: 2px;
    background-color: aqua;
    
}
/*transform*/
#box1{
    font-size: 100px;
    background: linear-gradient(to right, rgba(92, 92, 208, 0.4),white);
    border: 2px solid black;
    width: 300px;
    height: 300px;
    text-align: center;
    /* transform: translate(200px,100px);
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: skewX(25deg); */
    transform: matrix(1,0,2,1,100,250);
}